{% extends "groups/group_base.html" %}

{% block pregroup %}

<div class="col-md-12">
  <h1>{{group.name}}</h1>
  <h4> Member Count: {{group.members.count}}</h4>

    <div class="content">


  				{% if user in group.members.all %}
  					<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"> Leave</a>
  				{% else %}
  					<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"> Join</a>
  				{% endif %}



  </div>

  {% endblock %}


  {% block group_content %}

  <div class="col-md-8">
  	{% if group.posts.count == 0 %}
  	 <p>No posts in this group yet!</p>

  	{% else %}

  		{% for post in group.posts.all %}
  			{% include "posts/_post.html" %}
  		{% endfor %}

  	{% endif %}
  </div>
  {% endblock %}
</div>
