{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}


    <form class=""  enctype="multipart/form-data" method="POST">
      {% csrf_token %}

      {% bootstrap_form form %}

      <input type="submit" class="btn btn-default" value="Submit">
    </form>
    <br>
    <p> <strong>--OR--</strong> </p>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
    <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
    <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
{% endblock %}
