<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Comic Fan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/mycss.css"%}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black mynav">
  <a class="navbar-brand" href="{% url 'index' %}">COMIC FAN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto mynav" >
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:create' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'groups:all' %}">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'groups:create' %}">Create Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "accounts:logout" %}">Logout</a>
        </li>
      </ul>
    {% else %}
    <ul class="navbar-nav ml-auto mynav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'groups:all' %}">Groups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login'%}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">SignUp</a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>

<div class="container">
{% block content %}

{% endblock %}
</div>
<canvas id="canvas"></canvas>
  </body>
  <script type="text/javascript" src="{% static "js/myjs.js" %}">
</script>
</html>
