
<hr>
<div class="post">
	<h4>{{ post.message|safe }}</h4>
	<div class="">
		<strong>{{ post.user.username }}</strong>
		<h6 class="">
			<span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
			<time class="time"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a></time>
			{% if post.group %}
			<span class="group-name">in <a href="{% url 'groups:single' slug=post.group.slug %}">{{ post.group.name }}</a></span>
			{% endif %}
		</h6>




		<div class="">
			{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-danger">
					Delete
				</a>
			{% endif %}
		</div>
	</div>
</div>
